name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '14', '12', '10' ]
    name: Node ${{ matrix.node }} CI
    steps:
    - uses: actions/checkout@v1
    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - name: npm install, build, lint, and test
      run: |
        npm ci
        npm run build
        npm run lint
        npm test
      env:
        CI: true
